@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FCE1C8, #DDB883);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #987e5aa7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #552E2B;
    text-align: center;
    text-shadow: 1px 1px 2px #552e2bb6;
}

h2 {
    color: #552E2B;
}

p {
    text-align: justify;
}